.App {
  text-align: center;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stars{
  display: flex;
  flex-direction: row;
}
.text-area{
  border: 2px solid rgb(216, 57, 57);
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0;
  min-height: 200px;
  width: 400px;
}
.btn{
  border: "1px solid #a9a9a9";
  border-radius: 5px;
  width: 300px;
  padding: 10px;
  background-color: rgb(220, 220, 146);
}
.btn:hover{
  background-color: yellow;
}



/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
